<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>后台面板</title>

<!-- header binge -->
<include file="Public/header" />

<!-- header end -->

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>

</head>


<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body onload="ret('editprofile');">

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->
    
    <div class="rightpanel">
        
        <ul class="breadcrumbs">
            <li><a href="{:U('Console/dashboard')}"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li><a href="{:U('Console/dashboard')}">后台面板</a> <span class="separator"></span></li>
            <li>修改资料</li>
            
        </ul>
        
        <div class="pageheader">
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
            <if condition="$user_arr.zl_status eq '-1'">
            	<h5>温馨提示：完善资料后才能作其他操作，谢谢配合</h5>
                <h1>完善资料</h1>
            </if>
            
            <if condition="$user_arr.zl_status eq '1'">
				<h5 style="height:10px;"></h5>
                <h1>修改资料</h1>
            </if>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">

                        <input type="hidden" name="result" id="result" value="{$ok}">
                        <input type="hidden" id="send_code" value="{$Think.session.send_code}">
                        <input type="hidden" id="email_code" value="{$Think.session.email_code}">
                                <input type="hidden" id="phone_yl" value="{$user_arr.phone}">
                                <input type="hidden" id="email_yl" value="{$user_arr.email}">
                                <input type="hidden" id="phone_bs" value="">
                                <input type="hidden" id="email_bs" value="">
                        <div>
                            <form action="editprofile.html" id='form01' class="editprofileform" method="post">
                                <input type="hidden" id="id" name="id" value="{$user_arr.id}">
                                <input type="hidden" id="" name="f_submit" value="f_submit">
                                <input type="hidden" name="succeed" id="succeed" value="{$data.succeed}">
                                <input type="hidden" name="succeed" id="succeed01" value="">
                                
                               
                                <div class="widgetbox personal-information">
                                    <h4 class="widgettitle">基本信息</h4>
                                    <div class="widgetcontent"> 
	                                    <div id="update01">
	                                    	<p>
	                                            <label>账号：</label>
	                                            <input type="text" name="userid" class="input-xlarge" value="{$user_arr.userid}" readonly />
	                                        </p>
	                                     <if condition="$limits eq '1'">
		                                     <p>
		                                            <label style="padding:0">密码：</label>
		                                            <a href="javascript:void()" onclick="xiu('editprofile');">修改密码?</a>
		                                        </p>
		                                  </if>
	                                        <p>
	                                            <label>姓名：</label>
	                                            <input type="text" name="uname" id="uname" class="input-xlarge" value="{$user_arr.uname}" />
	                                        </p>
	                                        <p>
	                                            <label>QQ：</label>
	                                            <input type="text" name="qq" id="qq" class="input-xlarge" value="{$user_arr.qq}" />
	                                        </p>
	                                        <p>
	                                            <label>手机：</label>
	                                            <input type="text" name="phone" id="phone" class="input-xlarge" value="{$user_arr.phone}" />&nbsp;&nbsp;&nbsp;
	                                            <!--<span style="color:#FF0000"> * </span> &nbsp;&nbsp;&nbsp;-->
	                                            <!--<input type="text" name="phone_y" id="phone_y" class="input-xlarge" value="" style="width:80px;" placeholder="输入校验码"/> &nbsp;&nbsp;&nbsp;-->
	                                            <!--<input type="button" onclick="mobile_code();" class="btn" id="phone01" value="获取手机校验码">-->
<!-- 	                                            <a href="javascript:void();" onclick="RemainTime();" class="btn" id="zphone" style="color:#555;">获取手机验证码</a> -->
	                                        </p>
	                                        <p>
	                                            <label>email：</label>
	                                            <input type="text" name="email" id="email" class="input-xlarge" value="{$user_arr.email}" />&nbsp;&nbsp;&nbsp;
	                                            <!--<span style="color:#FF0000"> * </span> &nbsp;&nbsp;&nbsp;-->
	                                            <!--<input type="text" name="email_y" id="email_y" class="input-xlarge" value="" style="width:80px;" placeholder="输入校验码"/> &nbsp;&nbsp;&nbsp;-->
	                                            <!--<input type="button" onclick="email_code();" class="btn" id="email01" value="获取邮箱校验码">-->
	                                        </p>
	                                        <p>
	                                            <label>网址：</label>
	                                            <input type="text" name="url" id="url" class="input-xlarge" value="{$user_arr.url}" />
	                                        </p>
	                                    </div>
	                                    
	                                    <div id="update02" style="display:none;">
	                                    	<input type="hidden" name="pwd_status" id="pwd_status" value="">
                                        	<p>
	                                            <label>旧密码：</label>
	                                            <input type="password" name="pwd" id="pwd" class="input-xlarge" value="" />
	                                        </p>
	                                        <p>
	                                            <label>新密码：</label>
	                                            <input type="password" name="pwd01" id="pwd01" class="input-xlarge" value="" />
	                                        </p>
	                                        
	                                        <p>
	                                            <label>确认密码：</label>
	                                            <input type="password" name="pwd02" id="pwd02" class="input-xlarge" value="" />
	                                        </p>
	                                    </div>

		                                <p>
		                                	<a href="javascript:void();" class="btn btn-primary" onclick="update_t('editprofile');"><small>提交信息</small></a>&nbsp;&nbsp;&nbsp;
		                                	<span id="caozuo"></span>
		                                </p>
                                    </div>
                                    
                                </div>
                                
                            </form>
                        </div><!--span8-->
                    </div><!--row-fluid-->
                  
                  
        		 <!-- footer binge -->
				<include file="Public/footer" />
				
				<!-- footer end -->
                
                
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

</body>
</html>
