<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>新工单</title>

<link href="{$Think.config.URL}baidubianjiqi/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">

<!-- header binge -->
<include file="Public/header" />

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>

<script type="text/javascript" src="{$Think.config.URL}baidubianjiqi/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{$Think.config.URL}baidubianjiqi/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{$Think.config.URL}baidubianjiqi/umeditor.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}baidubianjiqi/lang/zh-cn/zh-cn.js"></script>



<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body>

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->


    <div class="rightpanel">
    
        <!-- head binge -->
        
			<include file="Public/nav" name='新工单'/>
		
		<!-- head end -->
        
        
        <div class="pageheader">
<!--             <form action="results.html" method="post" class="searchbar"> -->
<!--                 <input type="text" name="keyword" placeholder="To search type and hit enter..." /> -->
<!--             </form> -->
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5 style="height:10px;"></h5>
                <h1>新工单</h1>
            </div>
        </div><!--pageheader-->
        <div class="maincontent">
            <div class="maincontentinner">
            <h4 class="widgettitle">新工单</h4>
            <div class="widgetcontent">
                <form id="form01" class="stdform" action="{:U('Client/forms')}" method="post" enctype="multipart/form-data">
                	<input type="hidden" name="uid" id="uid" value="{$data.uid}">
                	<input type="hidden" name="x_wid" id="x_wid" value="{$list.id}">
                	<input type="hidden" name="y_title" id="y_title" value="{$list.title}">
                	<p>
                         <label>标题</label>
                         <span class="field"><input type="text" name="title" id="title" class="input-xxlarge" placeholder="" value="{$list.title}"/>&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">* 标题字数不能超于10位</font></span>
						 
                     </p>
<!--                      <div id="file_w"> -->
<!--                      	<input type="hidden" id="file_j" value="1"> -->
<!--                      	<input type="hidden" id="file_de" value="1"> -->
<!-- 	                     <div class="par" id="file_j1"> -->
<!-- 						    <label>上传文件</label> -->
<!-- 						    <div class="fileupload fileupload-new" data-provides="fileupload"> -->
<!-- 							<div class="input-append"> -->
<!-- 							<div class="uneditable-input span3"> -->
<!-- 							    <i class="iconfa-file fileupload-exists"></i> -->
<!-- 							    <span class="fileupload-preview"></span> -->
<!-- 							</div> -->
<!-- 							<span class="btn btn-file"><span class="fileupload-new">选择</span> -->
<!-- 							<span class="fileupload-exists">修改</span> -->
<!-- 							<input type="file" name='photo[]' id='file_s1'/></span> -->
<!-- 								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">取消</a> -->
<!-- 							</div> -->
<!-- 								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void();" onclick="file_d();"  class="iconfa-plus">&nbsp;&nbsp;增加一个</a></span> -->
<!-- 								<span>&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">上传格式：jpg，gif，peg，jpeg</font></span> -->
<!-- 						    </div> -->
<!-- 						</div> -->
						
<!--                    	</div> -->
                   	
<!--                    	<notempty name="file_arr[0]"> -->
<!-- 						<div style="margin-left:220px;overflow:hidden;zoom:1;"> -->
								
<!-- 							<foreach name="file_arr" item="vo" key="k"> -->
<!-- 								<div id="picture{$k}"> -->
<!-- 									<div style="float:left;margin:5px; padding:5px;border:1px solid #ccc;" > -->
<!-- 										<div style="width:150px;height:125px;"> -->
<!-- 											<img src="__ROOT__/Uploads/{$vo}" style="width:150px;height:100px;" /> -->
<!-- 											<input type="hidden" name="photo01[]" value="{$vo}"> -->
<!-- 											<div style="text-align:center;"><a href="javascript:void()" onclick="del_tp('picture{$k}');">删除</a></div> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</foreach> -->
								
<!-- 						</div> -->
<!-- 					</notempty>	 -->
                   	<p>
                         <label>内容</label>
                         <span class="field">
	                    	<script type="text/plain" id="myEditor" style="width:80%;height:340px;">{$list.issue}</script>
                         </span> 
                     </p>
                   	<br/>
                   	
                     
                   	<p>
                   		<label></label>
                    	<a href="javascript:void();" class="btn btn-primary" onclick="update_t('forms');"><small>提交工单</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    	<a href="javascript:void();" class="btn btn-primary" onclick="update_t('c_forms');"><small>保存到草稿箱</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                     <input type="hidden" name="cc_status" id="cc_status" value="">
                <input type="hidden" id="result" value="{$ok}">
                </form>
            </div><!--widgetcontent-->
            </div><!--widget-->
            
            
            
            
        		 <!-- footer binge -->
				<include file="Public/footer" />
				
				<!-- footer end -->
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->
<script type="text/javascript">
    //实例化编辑器
    var um = UM.getEditor('myEditor');
    um.addListener('blur',function(){
        $('#focush2').html('编辑器失去焦点了')
    });
    um.addListener('focus',function(){
        $('#focush2').html('')
    });
    //按钮的操作
    function insertHtml() {
        var value = prompt('插入html代码', '');
        um.execCommand('insertHtml', value)
    }
    function isFocus(){
        alert(um.isFocus())
    }
    function doBlur(){
        um.blur()
    }
    function createEditor() {
        enableBtn();
        um = UM.getEditor('myEditor');
    }
    function getAllHtml() {
        alert(UM.getEditor('myEditor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UM.getEditor('myEditor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用umeditor')方法可以设置编辑器的内容");
        UM.getEditor('myEditor').setContent('欢迎使用umeditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UM.getEditor('myEditor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UM.getEditor('myEditor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UM.getEditor('myEditor').selection.getRange();
        range.select();
        var txt = UM.getEditor('myEditor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UM.getEditor('myEditor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UM.getEditor('myEditor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UM.getEditor('myEditor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UM.getEditor('myEditor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            domUtils.removeAttributes(btn, ["disabled"]);
        }
    }
</script>
</body>
</html>
