

<link rel="stylesheet" href="{$Think.config.URL}css/style.default.css" type="text/css" />
<link rel="stylesheet" href="{$Think.config.URL}css/bootstrap-fileupload.min.css" type="text/css" />
<link rel="stylesheet" href="{$Think.config.URL}css/bootstrap-timepicker.min.css" type="text/css" />
<link rel="stylesheet" href="{$Think.config.URL}css/responsive-tables.css">


<script type="text/javascript" src="{$Think.config.URL}js/jquery.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/modernizr.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/responsive-tables.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/custom.js"></script>
<script type="text/javascript" src="{$Think.config.URL}prettify/prettify.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.jgrowl.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.alerts.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/elements.js"></script>
<script type="text/javascript" src="{$Think.config.URL}js/jquery.dataTables.min.js"></script>
